{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block admin_content %}
    <div class="page-header" style="margin-bottom: 1.5rem;">
        Edit Section
    </div>
    <div class="form-container mt-4">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.domain) }}
                </div>
            </div>
            <div class="form-actions mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save Changes
                </button>
                <a href="{{ path('admin_sections_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to Sections
                </a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %} 