{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style1.css') }}?v={{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}?v={{ 'now'|date('U') }}">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html, body {
            background: #fdfaf5 !important;
            width: 100%;
            overflow-x: hidden;
        }
        
        .admin-content-wrapper {
            padding: 0;
            background: #fdfaf5;
            min-height: calc(100vh - 60px);
            max-width: 100%;
            width: 100%;
        }
        
        .container-fluid {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="admin-content-wrapper">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}