{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block admin_content %}
    <div class="page-header" style="margin-bottom: 1.5rem;">
        Edit Book
    </div>
    <div class="form-container mt-4">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.title) }}
                    {{ form_row(form.section) }}
                    {{ form_row(form.publicationYear) }}
                    {{ form_row(form.isbn) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.authors) }}
                    {{ form_row(form.publishers) }}
                    {{ form_row(form.coverImage) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="form-actions mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save Changes
                </button>
                <a href="{{ path('admin_books_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to Books
                </a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %} 